<section class="advantages">
	<div class="container-fluid" id="advantages">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="wrapper">
					<img src="images/advantages-top.jpg" alt="advantages-top" class="image-inner">
				</div>
			</div>
			<div class="col-lg-6 p-0">
				<h3>Наші переваги</h3>
				<div class="advantages-list">
					<div class="advantages__item">
						<div class="text-center">
							<span class="svg">
								<svg>
									<use xlink:href="images/svg/sprite.symbol.svg#sketch"></use>
								</svg>
							</span>
							<p>эскіз</p>
							<p class="content">
								виготовлення за ескізами та кресленнями – ви можете прийти зі своїм проектом
							</p>
						</div>
						<div class="text-center">
							<span class="svg">
								<svg>
									<use xlink:href="images/svg/sprite.symbol.svg#price"></use>
								</svg>
							</span>
							<p>адекватні ціни</p>
							<p class="content">
								ви платите фіксовану вартість за договором
							</p>
						</div>
					</div>
					<div class="advantages__item">
						<div class="text-center">
							<span class="svg">
								<svg>
									<use xlink:href="images/svg/sprite.symbol.svg#speed"></use>
								</svg>
							</span>
							<p>швидке выконання</p>
							<p class="content">
								замовлення в залежності від складності завдання – вам не потрібно довго чекати
							</p>
						</div>
						<div class="text-center">
							<span class="svg">
								<svg>
									<use xlink:href="images/svg/sprite.symbol.svg#responsibility"></use>
								</svg>
							</span>
							<p>відповідальність</p>
							<p class="content">
								виконуємо роботу саме так, як ви очікуєте і навіть краще
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
