<div class="container-fluid p-0">
	<div class="row">
		<div class="col-12">
			<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images/mk-1.png" alt="" class="img-inner d-block w-100">
						<div class="title">
							<p class="sub-title_top">метало-</p>
							<p class="sub-title_middle">конструкції <span>та</span></p>
							<p class="sub-title_bottom">віроби з металу</p>
							<p class="sub-title_bottom">высокої якості</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="images/mk-3.jpg" alt="" class="img-inner d-block w-100">
						<div class="title">
							<p class="sub-title_top">метало-</p>
							<p class="sub-title_middle">конструкції <span>та</span></p>
							<p class="sub-title_bottom">віроби з металу</p>
							<p class="sub-title_bottom">высокої якості</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="images/mk-4.jpg" alt="" class="img-inner d-block w-100">
						<div class="title">
							<p class="sub-title_top">метало-</p>
							<p class="sub-title_middle">конструкції <span>та</span></p>
							<p class="sub-title_bottom">віроби з металу</p>
							<p class="sub-title_bottom">высокої якості</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="images/mk-2.jpg" alt="" class="img-inner d-block w-100">
						<div class="title">
							<p class="sub-title_top">метало-</p>
							<p class="sub-title_middle">конструкції <span>та</span></p>
							<p class="sub-title_bottom">віроби з металу</p>
							<p class="sub-title_bottom">высокої якості</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
