<footer id="footer" class="footer container-fluid">
	<div class="row">
		<div class="col-md-4 text-center">
			<p class="title-footer">ООО &#171;Стілтайм&#187;</p>
			<p>м.Київ, вул. Лебединська,4</p>
		</div>
		<div class="col-md-4 text-center">
			<button type="button" class="order-btn order-btn_footer" data-bs-toggle="modal" data-bs-target="#order">Замовити</button>
		</div>
		<div class="col-md-4 text-center">
			<p><a href="mailto:steeltime@ukr.net">steeltime@ukr.net</a></p>
			<p><a href="tel:+38 (067) 445 27 10">+38 (067) 445 27 10</a></p>
		</div>
	</div>
