<div class="modal fade" id="order" tabindex="-1" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderLabel">форма зворотнього зв'язку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="https://formspree.io/f/xknknydq" class="row" id="modal" method="POST">
          <div class="col-md-6">
            <input type="hidden" name="_subject" value="Повідомлення з сайту ООО &#171;СТІЛТАЙМ&#187;" />
            <input type="text" name="_gotcha" style="display:none" />


            <div class="form-floating mb-3">
              <input required type="text" name="Ім'я" class="form-control" id="name" placeholder="Введіть ваше ім'я" />
              <label class="form-label" for="name">Ваше Ім'я</label>
            </div>
            <div class="form-floating mb-3">
              <input required type="email" name="email" class="form-control" id="inputEmail"
                placeholder="name@example.com" />
              <label for="inputEmail">Ваш email</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input required type="tel" name="Телефон" class="form-control" id="inputPhone" placeholder="телефон:" />
              <label for="inputPhone" class="form-label">Контактний телефон</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <textarea name="Повідомлення" class="form-control" id="message" placeholder="Напишіть Ваше запитання"></textarea>
              <label for="message" class="form-label">Напишіть Ваше запитання</label>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-submit">Віправити</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
