<section class="order">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 p-0 text-center m-auto position-relative">
				<button type="button" class="order-btn" data-bs-toggle="modal" data-bs-target="#order">Замовити</button>
				<div class="arrow-left">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="col-md-6 p-0 text-center">
				<div class="wrapper">
					<img src="images/order.jpg" alt="order" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
