.mt-carousel {
  margin-top: 4.125rem;
}

.active {
  animation: transform-active 5s;
}

pre {
  overflow: hidden;
  line-height: 0.8;
}

.title {
  position: absolute;
  right: 20%;
  transform: translate(18%, 25%);
  font-family: 'webnarmedium', sans-serif;
  z-index: 10;
  color: $silver;
  animation: transform-color 6s;
}

.sub-title_top {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 0.4;
}

.sub-title_middle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.6;
  span {
    font-size: 1.4rem;
  }
}

.sub-title_bottom {
  font-size: 1.2rem;
  line-height: 0.2;
}

.carousel-item {
  position: relative;
  margin-bottom: 65%;
}

.img-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes transform-active {
  100% {
    transform: scale(1.2);
  }
}

@keyframes transform-color {
  100% {
    color: $secondary;
  }
}

@media screen and (min-width: 991px) {
  .carousel-item {
    margin-bottom: 40%;
  }

  .sub-title_top {
    font-size: 4.5rem;
    line-height: 0.7;
  }

  .sub-title_middle {
    font-size: 3rem;
    line-height: 0.6;
    span {
      font-size: 2rem;
    }
  }

  .sub-title_bottom {
    font-size: 2.2rem;
    line-height: 0.4;
  }
}

@media screen and (min-width:992px) {
  .mt-carousel {
    margin-top: 6.75rem;
  }
}
