@font-face {
  font-family: 'webnarbold';
  src: url('fonts/Webnar/Webnar-Bold/webnar-bold-webfont.eot');
  src: url('fonts/Webnar/Webnar-Bold/webnar-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Webnar/Webnar-Bold/webnar-bold-webfont.woff')
      format('woff'),
    url('fonts/Webnar/Webnar-Bold/webnar-bold-webfont.svg#webnarbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'webnarmedium';
  src: url('fonts/Webnar/Webnar-Medium/webnar-medium-webfont.eot');
  src: url('fonts/Webnar/Webnar-Medium/webnar-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Webnar/Webnar-Medium/webnar-medium-webfont.woff')
      format('woff'),
    url('fonts/Webnar/Webnar-Medium/webnar-medium-webfont.svg#webnarmedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'webnarregular';
  src: url('fonts/Webnar/Webnar-Regular/webnar-regular-webfont.eot');
  src: url('fonts/Webnar/Webnar-Regular/webnar-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Webnar/Webnar-Regular/webnar-regular-webfont.woff')
      format('woff'),
    url('fonts/Webnar/Webnar-Regular/webnar-regular-webfont.svg#webnarregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
